<html>
    {% load static %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <a href="{% url 'appweb:homepage' %}" style="position: absolute;left: 10px;top: 5px;">HOME</a>
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>View Grocery List</h1>
                    <span class="text-info" ><a href="{% url 'appweb:add' %}">Add Item</a></span>
                </div>
                <div class="col-lg-6 float-right">
                    
                         <!-- Date Filtering-->
                        <form action="{% url 'appweb:filter' %}" method='POST'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-8">
                                    <input type="date" class="form-control" name="date" value="0000-01-01" required>
                                </div>
                                <div class="col-lg-4">
                                    <input type="submit" class="btn btn-danger" value="filter">
                                </div>
                            </div>
                        </form>
                        
                    
                </div>
            </div>
            <!-- // top -->
            <!-- Grocery Cards -->
            <div class="row mt-4">
                <!-- Loop This -->
                {% for item in item_list %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ item.item_name }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ item.item_quantity }}</h6>
                            {% ifequal item.item_status 0 %}
                                <p class="text-success">PENDING</p>
                            {% endifequal %}     
                            {% ifequal item.item_status 1 %}
                                    <p class="text-info">BOUGHT</p>
                            {% endifequal %}
                            {% ifequal item.item_status 2 %}
                                    <p class="text-danger">NOT AVAILABLE</p>
                            {% endifequal %}
                            <h6 class="card-subtitle mb-2 text-muted">{{ item.date }}</h6>
                            <div class="row">
                                <div class="col-sm-6">    
                                    <form  action="{% url 'appweb:update' item.id %}" method="post" style="display: inline;" class>
                                        {% csrf_token %}
                                        <input type="submit" value="Update" name="Update" class="btn btn-danger">
                                    </form>
                                </div>
                                <div class="col-sm-6">
                                    <form  action="{% url 'appweb:delete' item.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                          <input type="submit" value="Delete" name="Delete" class="btn btn-danger">
                                    </form>
                                </div>
                            </div>    
                        </div>  
                    </div>
                </div>
                {% endfor %}
                <!-- // Loop -->
                

            </div>
        </div>

        <div class="container mt-5">
            {% for msg in messages %}
                      <h5 style='color:red;'> {{msg}}</h5>
            {% endfor %}
        </div>
        
    </body>
</html>


